<%= form_for @schedule do |f| %>
  <div>
    <%= f.label :city, "City ?" %>
    <%= f.text_field :city  %>
  </div>

  <div>
    <%= f.label :start_day, "" %>
    <%= f.text_field :start_day %>
  </div>

  <div>
    <%= f.label :city, "City" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description, "Describe the place" %> <br>
    <%= f.text_area :description %>
  </div>