
<h2>List of your Places</h2>

<% @places.each do |p| %>
<li>
<%= link_to(p.name, place_path(p)) %>
<p>Description: <%= p.description %></p>
<p> Staying hours: <%= p.duration %>
<p> image: <%= p.image %>
<p>location: <%= p.location %></p>
<br><br>

</li>
<% end %>
</ul>
