
<p calss="title">About the place: <br> </p>
<p class="content"><%= @place.description %></p>
<p class="title"> Staying hours: <br>
<p class="content"><%= @place.duration %><br></p>
<%# <p>location: <%#= @place.address %>
<p class="title"> Pictures of the place : <br> </p>
<img class="place_img", src="<%= @place.image %>"> 

<div id="map" style="height:250px;width:600px;margin:0 auto; border: 1px solid black;"></div>
   <script>
      function initMap() {

    var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
    console.log(myLatLng);
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      zoom: 9});

      var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
      title: "<%= @place.name %>"
      
    });
  }
   </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAONLfaXX_aJGJb8PGsC0ZMwuTqqs6Cifw&callback=initMap" async defer>
                    </script>
