
<p>Description: <%= @place.description %></p>
<p> Staying hours: <%= @place.duration %><br>
<%# <p>location: <%#= @place.address %></p><br>

<div id="map" style="height:250px;width:600px;margin:0 auto; border: 1px solid black;"></div>
   <script>
      function initMap() {

    var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
    console.log(myLatLng);
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      zoom: 9});

      var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
      title: "<%= @place.name %>"
      
    });
  }
   </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAONLfaXX_aJGJb8PGsC0ZMwuTqqs6Cifw&callback=initMap" async defer>
                    </script>
