<!DOCTYPE html>
<html>
  <head>
    <title>Travel Itinerary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  
  <body>
  <nav class= "nav_style"> 
  <%= link_to 'Home', root_path, class: "nav_home" %>
    <% if user_signed_in? %>
    <%#-# when user login in it will show the nav bar for add new place and schedule an itinerary in Application.erb  -%>

    <%= link_to 'All Places', places_path, class: "nav_place" %>
    <%#= link_to 'Add new Place', new_place_path %>


    <%# ADD ALL SCHEDULE TO A SPICIFIC USER %>
    <%#= link_to 'Your Itinerary', schedule_path %>
    <span><%#= current_user.email %></span>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "registration"%>
    <% else%>
    <%= link_to "Log in", new_user_session_path, class: "registration" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "registration" %>

<% end%>
  </nav>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  
  </body>
</html>
